{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-8 col-sm-12">
      {% if blogs %}
      <div class="d-flex no-wrap">
        {% for blog in blogs %}
        <div class="col-lg-6 col-md-12">
            <div class="blog-entry" data-hover="">
                <div class="entry-content">
                    <div class="entry-meta">
                        <div class="entry-date"><span class="day">{{ blog.published_at|date:'M' }} {{ blog.published_at|date:'m' }}</span><span class="year">{{ blog.published_at|date:'Y' }}</span></div>
                        <!-- End .entry-date		-->
                        <div class="entry-author">
                            <p>{{ blog.author.get_full_name|default:'No Name' }}</p>
                        </div>
                    </div>
                    <div class="entry-title">
                        <h4 class="text-wrap"><a href="{{ blog.get_absolute_url }}">{{ blog.title|truncatechars:55 }}</a></h4>
                    </div>
                    <div class="entry-img-wrap">
                        <div class="entry-img"><a href="{{ blog.get_absolute_url }}"><img src="{% if blog.image %}{{ blog.image.front_image.url }}{% else %}/static/images/video/1.jpg{% endif %}" class="img-fluid" alt="{{ blog.title }}" /></a></div>
                        {% if blog.tags.all %}
                        <div class="entry-category">
                            {% for tag in blog.tags.all %}
                                <a href="{{ tag.get_blogs_url }}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- End .entry-img-->
                    <div class="entry-bio text-wrap">
                      <p>{{ blog.get_overview|default:'No description' }}</p>
                    </div>
                    <div class="entry-more"> <a class="btn btn--white btn-bordered" href="{{ blog.get_absolute_url }}">read more <i class="energia-arrow-right"></i></a></div>
                </div>
            </div>
            <!-- End .entry-content-->
        </div>
        {% endfor %}
      </div>
      {% else %}
        <p class="text-center">No blog post found</p>
      {% endif %}
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        {% include 'blog/sidebar.html' %}
      </div>
  </div>
</div>
{% endblock %}
