{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row pt-3">
    <div class="col-md-6 col-lg-8 col-sm-12">
      
      <div class="d-flex no-wrap">
        <div class="col-lg-6 col-md-12">
          <div class="blog-entry" data-hover="">
              <div class="entry-content">
                  <div class="entry-meta">
                      <div class="entry-date"><span class="day">May 1</span><span class="year">2024</span></div>
                      <!-- End .entry-date		-->
                      <div class="entry-author">
                          <p>Jeremy Otieno</p>
                      </div>
                  </div>
                  <div class="entry-title">
                      <h4 class="text-wrap"><a href="https://dynamics365.africa/education/appkings/">Embrace the Future of Education with AppKings Solutions and Dynamics 365 Business Central</a></h4>
                  </div>
                  <div class="entry-img-wrap">
                      <div class="entry-img"><a href="https://dynamics365.africa/education/appkings/"><img src="/static/images/appkings-feature-1.jpg" class="img-fluid" alt="{{ blog.title }}" /></a></div>
                      {% if blog.tags.all %}
                      <div class="entry-category">
                          {% for tag in blog.tags.all %}
                              <a href="{{ tag.get_blogs_url }}">{{ tag.title }}</a>
                          {% endfor %}
                      </div>
                      {% endif %}
                  </div>
                  <!-- End .entry-img-->
                  <div class="entry-bio text-wrap">
                    <p>Revolutionising academic administration with innovative solutions by AppKings in partnership with Microsoft Dynamics 365 Business Central.</p>
                  </div>
                  <div class="entry-more"> <a class="btn btn--white btn-bordered" href="https://dynamics365.africa/education/appkings/">read more <i class="energia-arrow-right"></i></a></div>
              </div>
          </div>
          <!-- End .entry-content-->
      </div>
      {% if blogs %}
        {% for blog in blogs %}
        <div class="col-lg-6 col-md-12">
            <div class="blog-entry" data-hover="">
                <div class="entry-content">
                    <div class="entry-meta">
                        <div class="entry-date"><span class="day">{{ blog.published_at|date:'M' }} {{ blog.published_at|date:'m' }}</span><span class="year">{{ blog.published_at|date:'Y' }}</span></div>
                        <!-- End .entry-date		-->
                        <div class="entry-author">
                            <p>{{ blog.author.get_full_name|default:'No Name' }}</p>
                        </div>
                    </div>
                    <div class="entry-title">
                        <h4 class="text-wrap"><a href="{{ blog.get_absolute_url }}">{{ blog.title|truncatechars:55 }}</a></h4>
                    </div>
                    <div class="entry-img-wrap">
                        <div class="entry-img"><a href="{{ blog.get_absolute_url }}"><img src="{% if blog.image %}{{ blog.image.front_image.url }}{% else %}/static/images/video/1.jpg{% endif %}" class="img-fluid" alt="{{ blog.title }}" /></a></div>
                        {% if blog.tags.all %}
                        <div class="entry-category">
                            {% for tag in blog.tags.all %}
                                <a href="{{ tag.get_blogs_url }}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!-- End .entry-img-->
                    <div class="entry-bio text-wrap">
                      <p>{{ blog.get_overview|default:'No description' }}</p>
                    </div>
                    <div class="entry-more"> <a class="btn btn--white btn-bordered" href="{{ blog.get_absolute_url }}">read more <i class="energia-arrow-right"></i></a></div>
                </div>
            </div>
            <!-- End .entry-content-->
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        {% include 'blog/sidebar.html' %}
      </div>
  </div>
</div>
{% endblock %}
