<!--Counters Section-->
<section class="counters counters-1 bg-overlay bg-overlay-theme2" id="counters-1">
    <div class="bg-section"> <img src="/static/images/video/1.jpg" alt="Background" /></div>
    <div class="container">
        <div class="heading heading-4 heading-light heading-light2">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="heading-subtitle">Leaders in Technology Solutions!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">Providing Cutting-edge Technology Solutions!</h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="heading-desc">With over 8 years of collective experience, our team at AppKings ensures seamless integration, robust management, and unparalleled efficiency in the technology sector.</p>
                    <div class="actions-holder">
                        <a class="btn btn--primary btn--inversed" href="{% url 'core:awards' %}">Awards<i class="energia-arrow-right"></i></a>
                    </div>
                </div>
            </div>            
            <!-- End .row-->
        </div>
        <!-- End .heading-->
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="img-hotspot">
                    <div class="img-hotspot-wrap">
                        <div class="img-hotspot-bg"> <img src="/static/images/background/world-map-dark.png"
                                alt="image" /></div>
                        <div class="img-hotspot-pointers">
                            <div class="img-hotspot-pointer" data-spot-x="29%" data-spot-y="72%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="48%" data-spot-y="48%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="75%" data-spot-y="17%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner">
                                            <img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="34%" data-spot-y="9%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="59%" data-spot-y="21%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="68%" data-spot-y="38%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-hotspot-pointer" data-spot-x="15%" data-spot-y="29%">
                                <div class="pointer-icon"></div>
                                <div class="info" data-info-x="" data-info-y="">
                                    <div class="border-outer">
                                        <div class="border-inner"><img src="/static/images/favicon/favicon.jpeg" class="'rounded rounded-circle" height="60" width="60" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1">
                <!-- Start .counter-->
                <div class="counter counter-2">
                    <div class="counter-num"> <span class="counting" data-counterup-nums="102">102</span>
                        <h6>projects</h6>
                    </div>
                    <div class="counter-desc">
                        <p>With a track record of excellence, we've successfully completed 102 projects, delivering innovative solutions that drive success and growth for our clients.</p>
                    </div>
                </div>
                <!-- End .counter-->
                <!-- Start .counter-->
                <div class="counter counter-2">
                    <div class="counter-num"> <span class="counting" data-counterup-nums="7">7</span>
                        <h6>Awards</h6>
                    </div>
                    <div class="counter-desc">
                        <p>We take pride in our achievements, having earned recognition through 7 prestigious awards. These accolades are a testament to our commitment to excellence, innovation, and client satisfaction.</p>
                    </div>
                </div>
                <!-- End .counter-->

            </div>
        </div>
        <!-- End .row-->
    </div>
    <!-- End .container-->
</section>