<!-- Features Section -->
<section class="features features-1 bg-overlay bg-overlay-theme2" id="features-1">
    <div class="bg-section"> <img src="/static/images/video/1.jpg" alt="Background" /></div>
    <div class="container">
        <div class="heading heading-2 heading-light heading-light2">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <p class="heading-subtitle">Transformative Solutions for Diverse Industries</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5">
                    <h2 class="heading-title">Empowering Sectors <br>Through our Solutions</h2>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class="heading-desc">AppKings Solutions provides cutting-edge technology solutions tailored to meet the unique challenges of various sectors. From government organizations to financial services and beyond, our expertise in Microsoft Dynamics 365 and Business Intelligence drives digital transformation.</p>
                </div>
            </div>
        </div>

        <div class="carousel owl-carousel carousel-dots" data-slide="4" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="true" data-space="25" data-loop="true" data-speed="800">
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/government.png" alt="Government Solutions"></div>
                        <div class="feature-content">
                            <h4>Government Solutions</h4>
                            <p>Enhance public service delivery and governance efficiency with our Microsoft Dynamics 365 solutions.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/financial.png" alt="Financial Services"></div>
                        <div class="feature-content">
                            <h4>Financial Services</h4>
                            <p>Optimize financial processes and improve customer experiences with our tailored solutions for the financial services sector.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/healthcare.png" alt="Health Care"></div>
                        <div class="feature-content">
                            <h4>Health Care</h4>
                            <p>Modernize healthcare delivery with our comprehensive solutions designed to enhance patient care and streamline processes.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/education.png" alt="Education"></div>
                        <div class="feature-content">
                            <h4>Education</h4>
                            <p>Revolutionize the education sector with our innovative solutions, including Academic Administration Systems and E-Dairy solutions.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/telecomunication.png" alt="Telecommunications"></div>
                        <div class="feature-content">
                            <h4>Telecommunications</h4>
                            <p>Stay ahead in the dynamic telecommunications industry with our cutting-edge solutions for enhanced communication and business operations.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="feature-panel-holder" data-hover="">
                    <div class="feature-panel">
                        <div class="feature-icon"><img src="/static/icons/manufacturing.png" alt="Manufacturing and Production"></div>
                        <div class="feature-content">
                            <h4>Manufacturing and Production</h4>
                            <p>Optimize manufacturing processes and boost production efficiency with our state-of-the-art solutions tailored for the industry.</p>
                        </div><a href="{% url 'core:about' %}"><i class="energia-arrow-right"></i> <span>Explore More</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="more-features">
                    <p>If you have specific sector needs or questions, feel free to contact our team anytime. <a href="tel:+254700191991">+254700191991</a></p>
                    <a class="btn btn--bordered btn--white" href="{% url 'core:contact' %}">Request a Quote <i class="energia-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- Video Section -->
                <div class="video video-1 bg-overlay bg-overlay-video" id="video-1">
                    <div class="bg-section"><img src="/static/images/video/1.jpg" alt="Background" /></div>
                    <a class="popup-video btn-video" href="https://youtu.be/HCrL2q8o6ek?si=871Q_uGAqBzPUPMA"> <i class="fas fa-play"></i><span>Watch Our Video!</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
