{% extends 'base.html' %}
{% block content %}
      <section class="slider slider-1" id="slider-1">
        <div class="container-fluid pe-0 ps-0">
          <div class="slider-carousel owl-carousel carousel-navs carousel-dots" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="0" data-loop="true" data-speed="800">
            <!--  Start .slide-->
            <div class="slide bg-overlay bg-overlay-dark-slider">
              <div class="bg-section"><img src="/static/images/sliders/3.jpg" alt="MIcrosoft Dynamics AX"/></div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-7">
                    <div class="slide-content">
                      <h1 class="slide-headline">Microsoft<br>Dynamics AX</h1>
                      <p class="slide-desc">AppKings Solutions offers Dynamics 365 for Finance and Business Operations.</p>
                      <div class="slide-action">
                        <div class="slide-list"> 
                          <div class="icon"> <img src="/static/icons/project-management.png" alt=""></div>
                          <div class="icon"><img src="/static/icons/technology.png" alt=""></div>
                        </div><a class="btn btn--primary" href="{% url 'core:services' %}"> <span>our services</span><i class="energia-arrow-right"></i></a>
                      </div>
                    </div>
                    <!-- End .slide-content -->
                  </div>
                  <div class="col-12 col-lg-3 offset-lg-2 d-flex"> 
                    <div class="slider-panel-holder"> 
                      <div class="slider-panel">
                        <div class="icon">
                        <img src="/static/icons/technology.png" alt="" class="mb-3" width="auto">
                        </div>
                        <h5 class="panel-title">MS Dynamics AX</h5>
                        <p class="panel-desc">Dynamics 365 for Finance and Business Operations.</p><a href="{% url 'core:about' %}"><i class="energia-arrow-right"> </i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  End .row-->
              </div>
              <!-- End .container-->
            </div>
            <!-- End .slide-->
            <!--  Start .slide-->
            <div class="slide bg-overlay bg-overlay-dark-slider">
              <div class="bg-section"><img src="/static/images/sliders/1.jpg" alt="Mycrosoft Dynamics 365"/></div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-7">
                    <div class="slide-content">
                      <h1 class="slide-headline">Microsoft <br>Dynamics 365</h1>
                      <p class="slide-desc">AppKings Solutions brings you Microsoft Dynamics 365 expertise, delivering seamless integration, robust management, and unparalleled efficiency.</p>
                      <div class="slide-action">
                        <div class="slide-list"> 
                          <div class="icon"> <img src="/static/icons/project-management.png" alt=""></div>
                          <div class="icon"><img src="/static/icons/technology.png" alt=""></div>
                        </div><a class="btn btn--primary" href="{% url 'core:services' %}"> <span>our solutions</span><i class="energia-arrow-right"></i></a>
                      </div>
                    </div>
                    <!-- End .slide-content -->
                  </div>
                  <div class="col-12 col-lg-3 offset-lg-2 d-flex"> 
                    <div class="slider-panel-holder"> 
                      <div class="slider-panel">
                        <div class="icon">
                        <img src="/static/icons/technology.png" alt="" class="mb-3" width="auto">
                        </div>
                        <h5 class="panel-title">our mission</h5>
                        <p class="panel-desc">To Bridge the gap between modern technology and client's need.</p><a href="{% url 'core:about' %}"><i class="energia-arrow-right"> </i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  End .row-->
              </div>
              <!-- End .container-->
            </div>
            <!-- End .slide-->
            <!--  Start .slide-->
            <div class="slide bg-overlay bg-overlay-dark-slider">
              <div class="bg-section"><img src="/static/images/sliders/2.jpg" alt="Business Intelligence"/></div>
              <div class="container">
                <div class="row">
                  <div class="col-12 col-lg-7">
                    <div class="slide-content">
                      <h1 class="slide-headline">Business Intelligence.</h1>
                      <p class="slide-desc">AppKings Solutions transforms your raw data into actionable insights. Navigate the complexities of your business with clarity and foresight.</p> 
                      <div class="slide-action">
                        <div class="slide-list"> 
                          <div class="icon"> <img src="/static/icons/project-management.png" alt=""></div>
                          <div class="icon"><img src="/static/icons/technology.png" alt=""></div>
                        </div><a class="btn btn--primary" href="{% url 'core:services' %}"> <span>our services</span><i class="energia-arrow-right"></i></a>
                      </div>
                    </div>
                    <!-- End .slide-content -->
                  </div>
                  <div class="col-12 col-lg-3 offset-lg-2 d-flex"> 
                    <div class="slider-panel-holder"> 
                      <div class="slider-panel">
                        <!-- <i class="panel-icon flaticon-019-electric-tower"></i> -->
                        <h5 class="panel-title">our vision</h5>
                        <p class="panel-desc">To be the leading Pan African IT Company for consulting services and Deployment of best of breed Business Solutions for domestic and international customers.</p><a href="{% url 'core:about' %}"><i class="energia-arrow-right"> </i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  End .row-->
              </div>
              <!-- End .container-->
            </div>
            <!-- End .slide-->
          </div>
          <!-- End .slider-carousel-->
        </div>
        <!--  End .container-fluid-->
      </section>
      {% include 'sections/about.html' %}
      {% include 'sections/features.html' %}
      {% include 'sections/services.html' %}
      {% include 'sections/counter.html' %}
      {% if reviews %}
      <!--Testimonials Section-->
      <section class="testimonial testimonial-1 bg-theme2">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="carousel owl-carousel carousel-nav carousel-dots" data-slide="2" data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="true" data-space="40" data-loop="true" data-speed="800">
                {% for review in reviews %}
                <div class="testimonial-panel">
                  <div class="testimonial-body">
                    <div class="testimonial-img"> <img src="{% if review.image %}{{ review.image.url }}{% else %}/static/images/favicon/favicon.jpeg{% endif %}" alt="{{ review.name }}"/></div>
                    <div class="testimonial-content">
                      <p><q>{{ review.message|truncatechars:120 }}</q></p>
                      <div class="testimonial-meta"> 
                        <h6>{{ review.name }}</h6>
                        <p>{{ review.position }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- End .row-->
        </div>
        <!-- End .container-->
      </section>
      {% endif %}
      {% include 'sections/products.html' %}
      {% include 'sections/clients.html' %}
      {% include 'sections/blog.html' %}
{% endblock %}